*.d
*.o
firmware
firmware-v1/firmware*.bin
firmware-v1/firmware*.packed.bin
firmware-v1/firmware_uvk5_v1*
firmware-v1/compiled-firmware
firmware-v3/build/
firmware-v3/.venv_build
firmware-v3/.venv_flash
firmware-v3/compiled-firmware
build-output/
.cache
compile_commands.json
.vscode
/docs
k5_eeprom.raw
*~
__pycache__/
firmware-v1/nul
firmware-v1/.venv_build
firmware-v1/.venv_flash
